draw-n-discuss-backend-rails/.byebug_history
draw-n-discuss-backend-rails/tmp
draw-n-discuss-backend-rails/log/
draw-n-discuss-backend-rails/.git

draw-n-discuss-frontend-react/node_modules
draw-n-discuss-frontend-react/.git
